<ion-view view-title="{{item.title}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          <h2><b>Título:</b> {{item.title}}</h2>
          <h2><b>Descrição:</b> {{item.description}}</h2>
          <h2><b>Voltagem:</b> {{item.voltage}}</h2>
          <h2><b>Gasto em uso:</b> {{item.power_used}}</h2>
          <h2><b>Gasto standby:</b> {{item.power_standby}}</h2>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
